body{
    margin: 0px 0px 0px 0px;
    padding-top: 80px;
    height: 3000px;

}
#background-video {
  position: fixed; 
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%; 
  z-index: -1; 
  object-fit: cover;
}
.main{
    display: grid;
    grid-template-rows:  7fr 3fr 1fr;
    height: 100%;
    row-gap: 5%;
   
    
}
#main-box{
    display: grid;
    grid-template-rows: 1fr 6fr 6fr ;
}
.information-data{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 2px;
    row-gap: 2px;
    padding: 1%;
    margin-bottom: 20px;
    border-style: solid;
    border-color: white;

}


#alert-box{
    display: grid;
    grid-template-rows:   0.1fr 0.5fr 2fr;
    margin-top: 40px;
    color: white;
    border-style: solid;
    border-color: white;

}
#alert-specifictaions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    padding: 10px;
}
.box{
    border: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    text-align: center;
    align-content: center;
}
.data-check{
    display: grid;
    grid-template-rows: 1fr  5fr;
    color: white;
}
i{
    font-size: 3rem;
    height: 100%;
}
.box-click{

    display: grid;
    grid-template-columns: 1fr 3fr;
    border: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    
    align-items: center;
    
    
}
.box, .box-click {
    transition: all 0.3s ease;
    border-radius: 10px;
}

.box:hover, .box-click:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0,0,0,0.15);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}
.box:hover i, .box-click:hover i {
    transform: scale(1.3);
    filter: brightness(1.25);
    
}
/* GENERAL icon animation (keep your existing hover styles) */
.box i, .box-click i {
    transition: all 0.3s ease;
    
}

/* TEMPERATURE = warm red/orange */
#temperature i,#temperature11 i  {
    color: #ff7433;
}

/* WEATHER CONDITION = sky blue */
#weather i,#weather11 i  {
    color: #29a6ff;
}

/* POLLEN = fresh green */
#pollen i,#pollen11 i  {
    color: #34c759;
}

/* WIND SPEED = teal/aqua */
#wind-speed i ,#wind-speed11 i {
    color: #20c3d0;
}

/* PRECIPITATION = deep rain blue */
#precipitation i ,#precipitation11 i {
    color: #006cff;
}

/* AIR QUALITY = purple */
#AQI i ,#AQI11 i {
    color: #9d47ff;
}

/* UV INDEX = bright yellow */
#uv i, #uv11 i{
    color: #ffdd00;
}

/* HUMIDITY = light aqua blue */
#humidity i,#humidity11 i {
    color: #4bc4ff;
}
.header{
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    height: 45px;
    
}
.header-btn{
    display: grid;
    position: relative;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
    border-style: solid;
    border-color: white;
    border-width: 2px;
     height:40px;

}
.box-btn{
    color: white;
    
    border-color: white;
    border-style: solid;
    
    height: 40px;
    transition: all 0.3s ease;
    border-radius: 10px;
   align-content: center;
   padding-left: 30%;
}
.box-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0,0,0,0.15);
    background-color: rgb(255, 255, 255);
    cursor: pointer;}
#person {
    font-size: 20px;
    margin-top: 5px
}
a{
    height: 40px;
    
}
.search-box{
    padding-left: 5%;
    padding-top: 3%;
}
#city-search{
    width: 40%;
    height: 50%;
}
#searchbtn{
    align-items: baseline;
     width: 20%;
    height: 50%;
    
}
#time{
    margin-top: 3px;
}

img{
    width: 100%;
height: 100%;
object-fit: cover;
overflow: hidden;
}
#time{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.alerts-box{
    background-color: grey;
}

#alerts{
    text-align: center;
    color: rgb(255, 0, 0);
    background-color: black;
    font-size: x-large;
}
#headline{
    display: grid;
    grid-template-columns: 1fr 5fr;
    
}
#alerts-up{
    background-color: rgb(0, 136, 255);
}
.head-data-check{
    padding-left: 38%;
    padding-top: 2%;
    
    font-size: larger;
}